.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.inventoryItems {
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.inventoryItem {
  transition: background-color 0.5s, color 0.5s;
}


.inventoryItem:focus {
  background-color: rgba(112, 76, 182, 0.4);
  outline: none;
}

.inventoryItem:focus-visible {
  outline: none;
}

.inventoryItemFull {
  background-color: rgba(91, 166, 91, 0.5);
}

.inventoryItemFull:focus {
  background-color: #5ba65b;
  color: #fff;
}

.inventoryItems th {
  border-bottom: 1px solid grey;
  padding: 5px 20px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1rem;
}

.inventoryItem td {
  border-bottom: 1px solid grey;
  padding: 20px;
  vertical-align: middle;
}
.form {
  display: block;
  width: 100%;
}

.addForm {
  width: 50%;
  min-width: 290px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label {
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.textfield {
  width: 50%;
  margin: 10px 0;
  font-size: 32px;
}
